@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
:root {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    --background-color: #151515;
    --background-color-2: #8c3;
    --title-font: 'Akaya Telivigala', cursive;
    --main-font: 'Play', sans-serif;
    font-family: var(--main-font);
    background: #151515 url("https://j5r.github.io/j5r-school/assets/images/bkg.png") 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    flex-direction: column;
    margin: 5%;
    align-items: center;
    background-color: var(--background-color-2);
    box-shadow: #575 5px 5px 20px;
    border-radius: 50%;
    transition: border-radius 0.5s;
}

main:hover {
    border-radius: 105px 5px 105px 5px;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo img {
    padding-top: 30px;
    height: 60px;
    margin-right: 20px;
}

.titulo>h1 {
    font-family: var(--title-font);
    font-size: 50px;
    color: #242;
}

.blocos {
    height: 25vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
    justify-content: space-between;
}

.blocos>a>div {
    height: 30vh;
    width: 10vw;
    margin: 5px 0;
    border-radius: 20% 15% 20% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: #55a solid 5px;
    border-bottom: #a5a solid 5px;
    box-shadow: #448 5px 5px 10px;
    transition: background-color 0.5s;
}

.blocos>a>div>img {
    height: 45%;
    width: 45%;
}

.apresentacao {
    background-color: #f88;
}

.apresentacao:hover {
    background-color: rgb(194, 95, 95);
}

.cursos {
    background-color: #aaf;
}

.cursos:hover {
    background-color: rgb(143, 143, 236);
}

.quem-sou {
    background-color: #d0da13;
}

.quem-sou:hover {
    background-color: #aeb618;
}

.financeiro {
    background-color: #bd8ccc;
}

.financeiro:hover {
    background-color: #9e6bad;
}

.contato {
    background-color: #92dd73;
}

.contato:hover {
    background-color: #6eb450;
}

@media (max-width:1200px) {
    main {
        height: 140vh;
    }
    .titulo {
        margin-top: 3vh;
        width: 70vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6vh;
    }
    .titulo h1 {
        font-size: 4ex;
        width: 50vw;
        text-align: center;
    }
    .titulo>img {
        position: absolute;
        left: 8vmin;
        top: 8vmin;
        height: 15vmin;
    }
    .blocos {
        height: 70%;
        margin-top: -5vh;
        flex-direction: column;
    }
    .blocos>a>div {
        width: 40vw;
        height: 15vh;
    }
}